
    <div class="card">

      <img src={{property.url}} class="card-img-top">

      <div class="card-body p-4">
        <h1>{{property.id}}</h1>
        <h4>{{property.title}}</h4>
        <h4>{{property.albumId}}</h4>

      </div>
        <div>
          <ul class="list-inline text-center member-icons">
            <li class="list-inline-item">
              <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary"><i class="fas fa-eye"></i></button>
            </li>
          </ul>
        </div>
    </div>


